* {
    margin: 0;
    padding: 0;
}

html {
    font-family: open sans;

}

body {
    background-color: rgb(255, 255, 255);
    /* height: 4000px; */
}

.nav-div {
    background-color: white;
    padding: 20px;
    position: fixed;
    z-index: 3;
    right: 0;
    left: 0;
    top: 40px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(238, 238, 238);
    padding: 5px 20px;
    border-radius: 15px;
    border: 1px solid rgb(127, 127, 127);
    right: 10px;
    left: 10px;
}

img {
    cursor: pointer;
}

button {
    font-family: open sans;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
    border: 0px solid rgb(255, 208, 0);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
    padding-top: 180px;
}

.pages,
.options,
.translate-button,
header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    flex-direction: row;
}

header {
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    padding: 10px 0px;
    background-color: rgb(255, 208, 0);
    margin-bottom: 30px;
    z-index: 3;

}

header span, a {
    font-weight: bold;
}


.options {
    column-gap: 4px;
}

.page-button:hover,
.translate-button:hover {
    background-color: rgb(212, 212, 212);

}

.translate-icon {
    width: 24px;
}

.search-icon {
    width: 48px;
    border: 0px solid white;
}

.window-icon {
    width: 48px;
}

.download {
    font-size: 16px;
    background-color: rgb(255, 208, 0);
    transition: opacity 0.5s;
}

.download:hover,
.mac-linux:hover {
    opacity: 0.6;
}

.heading {
    font-size: clamp(30px, 4vw, 60px);
    display: flex;
    align-items: center;
    column-gap: 16px;
    font-weight: bold;
    text-wrap: wrap;

}

.sub-heading {
    width: 700px;
    font-size: 20px;
    opacity: 0.6;
    vertical-align: middle;
    text-align: center;
}

.mac-linux {
    background-color: rgb(255, 208, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
}

.mac {
    width: 30px;
}

.linux {
    width: 27px;
    margin-right: 15px;
}

.statement {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    opacity: 0.7;
}

.UE {
    width: 60px;
    border-radius: 100px;
    border: 2px solid black;
    opacity: 1;
}

.release {
    opacity: 0.6;
    font-size: 20px;
}

.language-options {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.language-div {
    background-color: rgb(231, 231, 231);
    margin: 10px;
    padding: 10px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    min-width: 300px;

}

.first-text {
    font-weight: bold;
    font-size: 20px;
}

.second-text {
    font-size: 10px;
}

.tertiary-text {
    font-size: 9px;
}

footer {
    margin: 100px 0px 10px 20px;
}


@media screen and (max-width:1233px) {
    .pages, nav, .statement {
        flex-direction: column;
        width: 300px;
        gap: 10px;
        text-align: center;
    }

    header p , .sub-heading{
        width: 400px;
        text-align: center;
    }

    header,.nav-div{
        /* z-index: 0; */
        position: absolute;
        left: 0px;
        right: 0px;
    }

    header{
        z-index: 5;
    }

    .nav-div{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    main{
        padding-top: 600px;
    }

    .heading{
        padding: 0px 20px;
    }

    .sub-heading,.mac-linux{
        width: 250px;
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}